title: "HTTP source"
log_level: 2
inputs:
    input0:
        source: https://www.freedesktop.org/software/gstreamer-sdk/data/media/sintel_trailer-480p.mkv
        format: auto
        width: 640
        height: 480
        framerate: 30
models:
    model0:
        model_path: /opt/model_zoo/TVM-CL-3090-mobileNetV2-tv
        topN: 5
    model2:
        model_path: /opt/model_zoo/ONR-SS-8610-deeplabv3lite-mobv2-ade20k32-512x512
        alpha: 0.4
outputs:
    output0:
        sink: kmssink
        width: 1280
        height: 720
        overlay-performance: True
    output1:
        sink: /opt/edgeai-test-data/output/output_video.mkv
        width: 1280
        height: 720
    output2:
        sink: /opt/edgeai-test-data/output/output_image_%04d.jpg
        width: 1280
        height: 720

flows:
    flow0: [input0,model0,output0,[320,120,640,480]]
