title: "IMX390 Camera"
log_level: 2
inputs:
    # Needs fusion board and imx390 cameras conneted over FPD links
    # k3-j721e-cpb-fpdlink-fusion.dtbo and k3-j721e-cpb-fpdlink-imx390-*.dtbo
    # should be applied in uenv.txt based on the number and type of the cameras
    # connected
    input0:
        source: /dev/video-imx390-cam0
        subdev-id: /dev/v4l-imx390-subdev0
        width: 1936
        height: 1100
        format: rggb12
        framerate: 30
        sen-id: imx390
        ldc: True
models:
    model0:
        model_path: /opt/model_zoo/TVM-CL-3090-mobileNetV2-tv
        topN: 5
    model1:
        model_path: /opt/model_zoo/ONR-OD-8200-yolox-nano-lite-mmdet-coco-416x416
        viz_threshold: 0.6
    model2:
        model_path: /opt/model_zoo/ONR-SS-8610-deeplabv3lite-mobv2-ade20k32-512x512
        alpha: 0.4
outputs:
    output0:
        sink: kmssink
        width: 1920
        height: 1080
        overlay-performance: True
    output1:
        sink: /opt/edgeai-test-data/output/output_video.mkv
        width: 1920
        height: 1080
    output2:
        sink: /opt/edgeai-test-data/output/output_image_%04d.jpg
        width: 1920
        height: 1080

flows:
    flow0: [input0,model1,output0,[320,180,1280,720]]
